Repository antkorwin/ioutils, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:workflow, theme:build, theme:features, theme:tests

multipart & temp files
  pom.xml
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/main/java/com/antkorwin/ioutils/error/InternalException.java
  src/main/java/com/antkorwin/ioutils/multipartfile/ContentDispositionFactory.java
  src/main/java/com/antkorwin/ioutils/multipartfile/CustomDiskFileItem.java
  src/main/java/com/antkorwin/ioutils/multipartfile/CustomMultipartFile.java
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponseHelper.java
  src/test/java/com/antkorwin/ioutils/multipartfile/CustomMultipartFileTest.java
  src/test/java/com/antkorwin/ioutils/multipartfile/TestAppStub.java
  src/test/resources/test.txt
Labels: theme:build

add tests for TempFile
  src/test/java/com/antkorwin/ioutils/TempFileTest.java
Labels: none

polishing dependencies
  pom.xml
Labels: theme:build

add tools to work with resource files
  pom.xml
  src/main/java/com/antkorwin/ioutils/resourcefile/ResourceFile.java
  src/test/java/com/antkorwin/ioutils/resourcefile/ResourceFileTest.java
  src/test/resources/folder/nestedfile
Labels: theme:build

javadoc
  pom.xml
  src/main/java/com/antkorwin/ioutils/resourcefile/ResourceFile.java
Labels: theme:build

codecov
  .github/workflows/build.yml
Labels: theme:workflow

use InputStream supplier in FileResponseHelper instead of directly InputStream
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponseHelper.java
Labels: none

read a byte array from resource
  src/main/java/com/antkorwin/ioutils/resourcefile/ResourceFile.java
  src/test/java/com/antkorwin/ioutils/multipartfile/CustomMultipartFileTest.java
  src/test/java/com/antkorwin/ioutils/resourcefile/ResourceFileTest.java
Labels: none

refactoring of the FileResponseHelper
  pom.xml
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponse.java
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponseHelper.java
  src/main/java/com/antkorwin/ioutils/resourcefile/ResourceFile.java
  src/test/java/com/antkorwin/ioutils/multipartfile/FileResponseTest.java
  src/test/java/com/antkorwin/ioutils/resourcefile/ResourceFileTest.java
Labels: theme:build

javadoc
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/main/java/com/antkorwin/ioutils/resourcefile/ResourceFile.java
  src/test/java/com/antkorwin/ioutils/TempFileTest.java
Labels: none

javadoc
  src/main/java/com/antkorwin/ioutils/multipartfile/ContentDispositionFactory.java
Labels: none

update artifact version
  pom.xml
Labels: theme:build

add notes about ordering in the FileResponse building
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponse.java
Labels: none

replace ContentDisposition on String for backward compatibility with the spring framework 4.xx
  pom.xml
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponse.java
  src/test/java/com/antkorwin/ioutils/multipartfile/FileResponseTest.java
Labels: theme:build

up version
  pom.xml
Labels: theme:build

temp file from string
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/test/java/com/antkorwin/ioutils/TempFileTest.java
Labels: none

version update
  pom.xml
Labels: theme:build

add an ability to set extension for temporary file
  pom.xml
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/test/java/com/antkorwin/ioutils/TempFileTest.java
Labels: theme:build

correct artifact version
  pom.xml
Labels: theme:build

javadoc
  src/main/java/com/antkorwin/ioutils/TempFile.java
Labels: none

remove deprecated and fix javadoc
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/main/java/com/antkorwin/ioutils/multipartfile/FileResponse.java
Labels: none

test new feature in CustomMultipartFile
  pom.xml
  src/main/java/com/antkorwin/ioutils/multipartfile/CustomMultipartFile.java
  src/test/java/com/antkorwin/ioutils/multipartfile/CustomMultipartFileTest.java
Labels: theme:build

update the artifact version
  pom.xml
Labels: theme:build

remove unused files after GC collect references
  pom.xml
  src/main/java/com/antkorwin/ioutils/TempFile.java
  src/main/java/com/antkorwin/ioutils/temp/TempFileReaper.java
  src/main/java/com/antkorwin/ioutils/temp/TempFileReference.java
  src/test/java/com/antkorwin/ioutils/TempFileTest.java
  src/test/java/com/antkorwin/ioutils/temp/TempFileReaperTest.java
Labels: theme:build

add todo
  src/main/java/com/antkorwin/ioutils/temp/TempFileReference.java
Labels: none

fix TempFileReaper for concurrent usage
  pom.xml
  src/main/java/com/antkorwin/ioutils/temp/TempFileReaper.java
  src/test/java/com/antkorwin/ioutils/temp/TempFileReaperTest.java
Labels: theme:build

remove system out
  src/test/java/com/antkorwin/ioutils/temp/TempFileReaperTest.java
Labels: none

polishing
  src/test/java/com/antkorwin/ioutils/temp/TempFileReaperTest.java
Labels: none

increase the version of ioutils
  pom.xml
Labels: theme:build

add a readme file
  README.adoc
Labels: none

add an article about ResourceFile in the readme file
  README.adoc
Labels: none

better-string as provided
  pom.xml
Labels: theme:build

.github/labeler.yml:

theme:workflow:
  - ".github/**"

theme:build:
  - "pom.xml"
  - ".travis.yml"
  - ".gitignore"

theme:features:
  - "src/main/*"

theme:tests:
  - "src/test/*"
